.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ration: 100 / (1280 /720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.react-player video {
  outline: none;
  border-radius: 2rem;
}

.player-overlay {
  @apply shadow-neumorphic-inner p-3 md:p-5 lg:p-6 xl:p-8 rounded-[2rem] ring-1 ring-black ring-opacity-5;
}

.anime-player__title {
  @apply text-neumorph-secondary text-2xl;
  display: inline-flex;
  flex-grow: 1;
  gap: 0.5rem;
  align-self: center;
}

.anime-player__episode {
  @apply shadow-neumorphic ring-1 ring-black ring-opacity-10;
  background-color: var(--neumorph-primary);
  border-radius: 0.25rem;
  padding: 0.125rem 0.375rem;
  min-width: 90px;
  height: 2.5rem;
}

.anime-player__episode option {
  border-radius: 2rem;
}

@media screen and (max-width: 800px) {
  .anime-player-card {
    width: 90%;
    max-width: 90%;
    background-position: 50% 0%;
    background-size: contain;
    height: min-content;
  }
}
