@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .page-layout {
    @apply m-0 md:ml-[75px];
  }
}
@layer base {
  :root {
    --primary: 34 33 33;
    --secondary: 25 27 32;
    /* neumorphism colors */
    --neumorph-primary: 224 224 224;
    --neumorph-primary-light: 255 255 255;
    --neumorph-primary-dark: 190 190 190;

    --neumorph-secondary: 54 119 193;
    --neumorph-secondary-light: 100 160 229;
    --neumorph-secondary-dark: 31 76 129;

    --neumorph-accent: 54 119 193;
  }

  :root.dark {
    --primary: 184 183 168;
    --secondary: 232 247 232;
    /* neumorphism colors */
    --neumorph-light: 148 146 129;
    --neumorph-dark: 35 39 39;

    --neumorph-primary: 35 39 39;
    --neumorph-primary-light: 46 51 51;
    --neumorph-primary-dark: 25 27 27;

    --neumorph-secondary: 230 175 46;
    --neumorph-secondary-light: 46 51 51;
    --neumorph-secondary-dark: 25 27 27;

    --neumorph-accent: 230 175 46;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-size: clamp(1rem, 0.9869rem + 0.056vw, 1.0625rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  @apply text-primary bg-neumorph-primary;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-welcome {
  z-index: 100;
  width: 100%;
  height: 90vh;
}

.welcome-logo {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  aspect-ratio: 1.7/1;
  border-radius: 2rem;
  position: relative;
}

.welcome-logo:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  filter: blur(5px);
}

#app-examples-section {
  width: 100%;
  max-width: 1400px;
  align-self: center;
}

.example-img {
  background: url("../../public/web-log-in-choose-google-account.png") 50% 10% /
    cover;
  width: 100%;
  aspect-ratio: 1/1.1;
  max-width: 500px;
  border-radius: 1rem;
  filter: blur(5px);
  position: relative;
}

#app-examples-section .favorite-anime-example-row {
  @apply flex flex-col lg:flex-row justify-around items-center gap-12 p-6 py-12;
}
#app-examples-section div:has(.example-img:first-child) {
  @apply flex-col-reverse lg:flex-row;
}

.paginate-btn {
  @apply hover:text-primary text-opacity-50 text-primary disabled:hover:text-opacity-50 disabled:opacity-40;
}

.active-link {
  @apply shadow-neumorphic-inner hover:shadow-neumorphic-inner opacity-100 !important;
}

.nav-link:active {
  @apply shadow-neumorphic-inner !important;
}

.section-heading {
  @apply text-secondary text-opacity-50 text-lg xl:text-xl;
}

.react-player {
  border-radius: 2rem;
}

.swiper-pagination-bullet {
  @apply bg-neumorph-accent !important;
}

.swiper-slide {
  height: auto !important;
}

.swiper-pagination {
  top: 0 !important;
  height: fit-content;
}

.title {
  @apply text-black dark:text-white text-2xl lg:text-3xl font-mono;
}

a {
  color: inherit;
  text-decoration: none;
}

.image-overlay::after {
  filter: brightness(75%) saturate(140%);
}
