@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  @apply text-white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: clamp(1rem, 0.9869rem + 0.056vw, 1.0625rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/background.svg) center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: auto;
}

main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* @apply bg-gradient-to-b from-gray-900/10 to-[#010511]; */
}

.page-container {
  @apply bg-gray-900 max-w-[1200px] self-center shadow-2xl shadow-gray-400;
  margin: 0 auto;
}

.header-spacer {
  @apply lg:min-h-[200px];
}

a {
  color: inherit;
  text-decoration: none;
}
